body {
    font-family: 'Cera Pro', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

.features-section {
    padding: 40px 20px 0;
    margin-bottom: 64px;
}

.features-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    align-items: stretch;
}

.feature-card,
.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    background: #fff;
}

.feature-card {
    width: 204px;
    height: 202px;
}

.feature-card img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.feature-card h4 {
    font-weight: 600;
}

.newsletter {
    width: 354px;
    height: 202px;
}

.newsletter h4 {
    font-weight: bold;
}

.subscribe {
    display: flex;
    margin: 10px 0;
}

.subscribe input {
    flex: 1;
    padding: 10px;
    border: none;
    background: #f3f3f3;
    border-radius: 5px 0 0 5px;
}

.subscribe button {
    background-color: #46a358;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
}

footer {
    max-width: 1200px;
    height: 236px;
    margin: 0 auto;
}

.footer-top {
    background: linear-gradient(to right, #e3f1dc, #36b66f);
    padding: 20px;
    color: #333;
    max-width: 1200px;
    height: 88px;
    margin: 0 auto;
}

.footer-top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-contact {
    display: flex;
    gap: 155px;
}

.footer-contact img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    object-fit: contain;
}

.contact-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 10px;
}

.logo {
    font-weight: bold;
    font-size: 18px;
}

.logo img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
}

footer {
    padding: 40px 20px 20px;
    background: #fff;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 20px;
}

.column h4 {
    font-weight: 700;
}

.column ul {
    list-style: none;
    padding: 0;
}

.column li {
    margin: 5px 0;
    font-size: 14px;
}

.social-icons span {
    display: inline-block;
    background: #f3f3f3;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
}

.social-icons img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.payment-icons img {
    height: 20px;
    margin-right: 10px;
}

.copyright {
    text-align: center;
    font-size: 14px;
    color: #666;
}

img {
    display: inline-block;
    vertical-align: middle;
    border: none;
    box-shadow: none;
    outline: none;
}
