* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background: #fff;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


.login-btn {
    background: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.login-btn img {
    width: 16px;
    height: 16px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background: white;
    flex-grow: 1;
    width: 100%;
}

.banner .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-content {
    max-width: 50%;
}

.text-content h3 {
    color: #777;
    font-size: 18px;
}

.text-content h1 {
    font-size: 36px;
    font-weight: bold;
}

.highlight {
    color: #4CAF50;
}

.shop-btn {
    display: inline-block;
    background: #4CAF50;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.shop-btn:hover {
    background: #45a049;
}

.image-content {
    position: relative;
}

.image-content img {
    width: 100%;
    max-width: 500px;
}

.image-content img:first-child {
    position: relative;
    z-index: 2;
    width: 370px;
}

.image-content img:last-child {
    position: absolute;
    bottom: -20px;
    left: -30px;
    width: 170px;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    header .container {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        padding: 10px 0;
    }

    nav ul li {
        margin: 10px 0;
    }
}

.shop {
    display: flex;
    color: black;
    margin: 0 15px;
    list-style: none;
    flex-wrap: wrap;
}
